/* พื้นหลังและการตั้งค่าทั่วไป */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* กล่องฟอร์ม */
form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
}

/* ช่องกรอกข้อมูล */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
}

/* ป้ายกำกับ */
label {
    display: block;
    margin-top: 10px;
    color: #ffcc00;
}

/* ปุ่ม */
button {
    background-color: #ffcc00;
    color: #121212;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold
}